[mcu ebb]
canbus_uuid: 473dc6f375a7
canbus_interface: can0

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: ebb:gpio28

# [adxl345]
# cs_pin: ebb:gpio1
# spi_software_sclk_pin: ebb:gpio2
# spi_software_mosi_pin: ebb:gpio0
# spi_software_miso_pin: ebb:gpio3
# axes_map: z,-y,x

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345

[extruder]
step_pin: ebb:gpio18
dir_pin: ebb:gpio19
enable_pin: !ebb:gpio17
rotation_distance: 18.710134575 #22.6789511
gear_ratio: 50:10
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 101.0
max_extrude_cross_section: 2
heater_pin: ebb:gpio7
min_temp: 0
max_temp: 340
sensor_type: MAX31865
sensor_pin: ebb:gpio9
spi_software_sclk_pin: ebb:gpio10
spi_software_mosi_pin: ebb:gpio8
spi_software_miso_pin: ebb:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: ebb:gpio20
run_current: 0.650
stealthchop_threshold: 0

[fan]
pin: ebb:gpio13

[heater_fan hotend_fan]
pin: ebb:gpio14
heater: extruder
heater_temp: 50.0

[neopixel hotend_rgb]
pin: ebb:gpio16
chain_count: 3
color_order: GRBW

#[filament_switch_sensor my_sensor]
#pause_on_runout: False
#switch_pin: ^ebb:gpio21